# Python 캐시 파일
__pycache__/
*.py[cod]

# Jupyter / IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# 테스트/정적 분석 캐시
.pytest_cache/
.mypy_cache/
.dmypy.json

# api key 파일 
preprocessing/config.py
